<ion-view title="Make a Reservation">


<!--
<ion-nav-title>
    <h1  style="text-align: center; font-size: 30px; " class="title icon ion-help-buoy"></h1>
    <div class="buttons">
      
    </div>
  </ion-nav-title>   -->

  <ion-content ng-click="closeDrawer();">




  
  <div class="item item-text-wrap" >
  
    <h4 id="fchange" style="text-align:center;color:orange;"> CHOOSE A SERVICE</h4>
  </div>




    

  <a id="landing-wrapper" href="#/app/rental" class="item activated" >
    <br>

    <div style="    margin-left: 5%;">
    <h2 id="fchange" style="color:white;font-size:15px"><b>DRIVER RENTAL</b></h2>
    
    <p id="fchange" style="color:#B3B3B3">Rent an Hourly or Daily Driver</p>
    
   


    <p id="fchange"  style="font-size:10px;color:white;opacity:0.5;margin-bottom: -2%;">From</p>
    <h id="fchange"  style="font-size:15px;color:white;">₦</h>
    <h id="fchange" for="hdm" style="color:white;    margin-left: -1.5%;">800</h>
    <p id="fchange"  style="font-size:10px;color:white;opacity:0.5;margin-top: -2%;">per Hour</p>
<!-- 
    <div id="hdm-div" style="white-space:nowrap; display:inline">       
    <h id="fchange" for="hdm" style="font-size:12px;color:white">N</h>
    <h id="fchange" for="hdm" style="color:white;    margin-left: -1.5%;">800</h>

     </div>


<div id="hdm-div" style="white-space:nowrap; display:inline">       
    <h id="fchange" for="hdm" style="font-size:12px;color:white">N</h>
    <h id="fchange" for="hdm" style="color:white;    margin-left: -1.5%;">5000</h>


    <br>

</div>  
 -->



</div>
<div ng-click="questionInfo($event)" style="position: absolute; bottom: 0px ;    bottom: 1px;
    right: 2px;
    height: 32px;" >
 <img src="img/question.png">
</div>
</a>
 

 

 <a id="landing-wrapper2" class="item " >
  
  <br>
  <div style="    margin-left: 5%;">
    <h2 id="fchange" style="color:white;font-size:15px"><b>CAR + DRIVER RENTAL</b></h2>
    <p id="fchange" style="color:#B3B3B3">Rent an Car And Driver</p>

   

    <p id="fchange"  style="font-size:10px;color:white;opacity:0.5;margin-bottom: -2%;">From</p>
    <h id="fchange"  style="font-size:15px;color:white;">₦</h>
    <h id="fchange" for="hdm" style="color:white;    margin-left: -1.5%;">16300</h>
    <p id="fchange"  style="font-size:10px;color:white;opacity:0.5;margin-top: -2%;">per Day</p>


</div>

<div style="position: absolute; bottom: 0px ;    bottom: 1px;
    right: 2px;
    height: 32px;" >
 <img src="img/question.png">
</div>
  </a>



   <a id="landing-wrapper3" class="item "  ng-click="driver()"  >
   <br>
   <div style="    margin-left: 5%;">
    <h2 id="fchange" style="color:white;font-size:15px;"><b>FULL TIME DRIVER</b></h2>
    <p id="fchange" style="color:#B3B3B3">Hire a full time driver</p>



    <p id="fchange"  style="font-size:10px;color:white;opacity:0.5;margin-bottom: -2%;">From</p>
    <h id="fchange"  style="font-size:15px;color:white;">₦</h>
    <h id="fchange" for="hdm" style="color:white;    margin-left: -1.5%;">45000</h>
    <p id="fchange"  style="font-size:10px;color:white;opacity:0.5;margin-top: -2%;">per Month</p>


</div> 

<div style="position: absolute; bottom: 0px ;     bottom: 1px;
    right: 2px;
    height: 32px;" >
 <img src="img/question.png">
</div> 
  </a>

 


  

</div>
<!-- align to the bottom of the page -->
   
   


 
  </ion-content>
</ion-view>










