<ion-view title="Drive Info">
  <ion-content ng-click="closeDrawer();" >





  
  <div class="item item-text-wrap" style="background-color:#EEEEEE">
    <h3 style="text-align:center;color:orange;font-size: smaller;" > DRIVER RENTAL</h3>
     <h4 style="text-align:center;color:orange;"> </h4>

</div>





<h6>&nbsp Enter Client Info</h6>

<!-- align to the bottom of the page -->


  <div class="list">
  <label class="item item-input">
    <input type="text" placeholder="First Name*">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Last Name*">
  </label>

  <label class="item item-input">
    <input type="text" placeholder="Email">
  </label>

  <label class="item item-input">
    <input type="text" placeholder="Phone Number">
  </label>

  <label class="item item-input">
    <input type="text" placeholder="Residential address*">
  </label>

  <label class="item item-input">
    <input type="text" placeholder="Vehicle Type*">
  </label>
  
</div>






<!-- <div class="squaredOne">
      <input type="checkbox" value="None" id="squaredOne" name="check" checked />
      <label for="squaredOne"></label>
    </div>

    <br>

<div class="squaredOne">
      <input type="checkbox" value="None" id="squaredOne" name="check" checked />
      <label for="squaredOne"></label>
    </div> -->
 
  </ion-content>
  



  <div class="bar bar-footer bar-assertive" style="background-color:#B20000;color:#FFFFFF;    border: red;" >
  <a id="hamza" ng-click="req()" class="button button-clear" style="text-align:center ;width:100%;font-size: inherit;">PLACE BOOKING</a>
</div>
       

</ion-view>