<ion-view title="Complete Order">
  <ion-content ng-click="closeDrawer();" >





  
  <div class="item item-text-wrap" style="background-color:#EEEEEE">
    <h3 style="text-align:center;color:orange;font-size: smaller;" > DRIVER RENTAL</h3>
     <h4 style="text-align:center;color:orange;"> </h4>

</div>


<h1 id="fchange" style="text-align:center"> <b>₦5000</b></h1>



  <div class="item item-text-wrap" style="display: flex;
    justify-content: space-between;" >
    <h5 style="text-align:left;color:grey" > All Day</h5>  <h5 style="color:grey" >5000</h5>

</div>

  <div class="item item-text-wrap" style="display: flex;
    justify-content: space-between;">

    <h5 style="text-align:left;color:grey" > 10% S.Charge</h5> <h5 style="color:grey">500</h5>

</div>



<h6>&nbsp CHOOSE PAYMENT METHOD</h6>

<!-- align to the bottom of the page -->


  <div class="item item-text-wrap"> 


   
          <input type="checkbox" name="checkboxG1" id="checkboxG1" class="css-checkbox" />

          <label for="checkboxG1"  class="css-label"  style="color:grey;font-size: x-small;"></label>
        <img style="    width: 130px;
    height: 30px;
    margin-left: 8%;" src="img/mastercard.png">
    <p style="color:grey;font-size: x-small;margin-left: 16%;">Pay directly with you debit/credit card</p>
  </div>




  <div class="item item-text-wrap"> 
        <input type="checkbox" name="checkboxG2" id="checkboxG2" class="css-checkbox" />

          <label for="checkboxG2"  class="css-label"  style="color:grey;font-size: x-small;"></label>
        <img style="    width: 75px;
    height: 30px;
    margin-left: 8%;" src="img/back-pocket.png">
    <p style="color:grey;font-size: x-small;margin-left: 16%;">Pay <b>N5300</b> when you pay with your wallet</p>
  </div>
<br>






<!-- <div class="squaredOne">
      <input type="checkbox" value="None" id="squaredOne" name="check" checked />
      <label for="squaredOne"></label>
    </div>

    <br>

<div class="squaredOne">
      <input type="checkbox" value="None" id="squaredOne" name="check" checked />
      <label for="squaredOne"></label>
    </div> -->
 
  </ion-content>
  



  <div class="bar bar-footer bar-assertive" style="background-color:#B20000;color:#FFFFFF;    border: red;" >
  <a id="hamza" ui-sref="app.browse" class="button button-clear" style="text-align:center ;width:100%;font-size: inherit;"  ng-click="submitOrder()">PLACE BOOKING</a>
</div>
       

</ion-view>