<ion-view title="Dropoff Address">
  <ion-content ng-controller="MapController2" ng-click="closeDrawer();" style="background-color:#EEEEEE">





  
  <div class="item item-text-wrap" style="background-color:#EEEEEE">
    <h3 style="text-align:center;color:orange;" > DRIVER RENTAL</h3>
     
   </div>




  <div id="map-canvas2"></div>
 



 

   

<!-- align to the bottom of the page -->
   
                 </ion-content>


 <div style="position: absolute; bottom: 0px; width: 100%">

  



        <div style="display: inline-flex;width:100%;background-color:white">
        <i style="
    margin-top: 2%;
    background-color: white;
    " class="button button-icon icon ion-ios-search-strong activated"></i>
    <div style="width: 80%;">
  <p style="
    margin-top: -5px;
    margin-bottom: 1px;
    color:orange;
    font-size: xx-small;
">Enter Final Drop Off Address</p>
 <input placeholder="Drag Marker ... " id="address2" style="
    width: 81%;
    font-size: medium;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    margin-top: -8%;
">
  </div>

<button  ng-click="reviewOrder()"  style="    background-color: #B20000;
    width: 20%;
    color: white;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
   
    margin-bottom: -1.6%;
    margin-right: -1.5%;"  class="button icon ion-chevron-right customIconSound"></button>
</div>
<a id="hamza" href="#/app/complete" class="button button-clear" style="text-align:center ;width:100% ;background-color: #B20000;font-size: smaller;"   >or use same location as pickup</a>
    </div>



 

 <!-- <a  href="#/app/dropoff" class="button button-clear" style="text-align:center ;width:100%"   ><b>Continue</b></a> -->



</ion-view>
