<ion-modal-view style="margin-top:90%" class="slide-in-up2">

<ion-content  ng-controller="rentalCtrl" >



<div class="item item-text-wrap" >
    <div style="text-align: center;width:100%" ng-click="closeDur()">
    <a style="text-align: center;width:100%;color: #B22132;font-size:125%" class="icon ion-chevron-down " ></a>
</div>
     <h4 style="text-align:center;"> EDIT DURATION</h2>


   </div>





    <div  class="list card" style="margin-right: 0px;margin-left: 0px;">



 
   <div style="background-color:#FFFFFF;    border-bottom: black;
    border-bottom-color: rgba(0, 0, 0, 0.08);
    border-bottom-style: solid;
    border-bottom-width: 3px;" class="item ">
   

<br>
   
     
            <h3 style="text-align:center" >Duration?</h3>



              <div style="
    text-align: center;" class="">    


<div style="    color: #B22132  ;font-size:20px; display:inline-block; " class="box box1 icon ion-chevron-left"  ng-click="subDur()"></div>
    <div style="font-size:26px;color: #B20000  ;display:inline-block;"   class="box box2 content"><fade-on-change-third value-to-watch="durationhr"></fade-on-change-third> </div>
    <div style="    color: #B22132  ;font-size:20px; display:inline-block;" class="box box3 icon ion-chevron-right" ng-click="addDur()" ></div>



                
     
              </div>

         <h3 style="text-align:center;"></h3>

         <br>

  </div>
<br>
<br>

<div class="bar bar-footer bar-assertive" style="background-color:#B20000;color:#FFFFFF; height:8%   border: red;" >
  <a id="hamza"  class="button button-clear" style="text-align:center ;width:100%"  ng-click="editDur()" ><b>UPDATE</b></a>
</div>


</div>








</ion-content>


</ion-modal-view>