<ion-view title="DRIVER TYPE" > 
  <ion-content ng-click="closeDrawer();" >





  
  <div class="item item-text-wrap" style="background-color:#EEEEEE">
    <h3 style="text-align:center;color:orange;font-size: smaller;" > DRIVER RENTAL</h3>
     <h4 style="text-align:center;color:orange;"> </h4>

</div>




<h6>&nbsp CHOOSE DRIVER TYPE</h6>

<!-- align to the bottom of the page -->


  <div class="item item-text-wrap"> 
       

       <h4 style="margin-left: 15%;color: #B20000;">PERSONAL DRIVER</h4>
  <div style="    display: inline-flex;">


         <input type="radio" name="radiog_lite" id="radio1" class="css-checkbox" />

          <label for="radio1" class="css-label radGroup1"  style="color:grey;font-size: x-small;    margin-top: -10px;"></label>
                     <p style="color:grey;font-size: x-small;margin-left: 8%;    line-height: initial;">A Driver to drive you around in your personal vehicle</p>

       </div>
  </div>



  <div class="item item-text-wrap"> 
       

       <h4 style="margin-left: 15%;color: #B20000;">CORPORATE DRIVER</h4>
  <div style="    display: inline-flex;">

  <input type="radio" name="radiog_lite" id="radio2" class="css-checkbox" />

          <label for="radio2" class="css-label radGroup1"  style="color:grey;font-size: x-small;    margin-top: -10px;"></label>
                     <p style="color:grey;font-size: x-small;margin-left: 8%;    line-height: initial;">An official driver to drive for a company or other corporate</p>

       </div>
  </div>



 <div class="item item-text-wrap"> 
       

       <h4 style="margin-left: 15%;color: #B20000;">UBER DRIVER</h4>
  <div style="    display: inline-flex;">

      <input type="radio" name="radiog_lite" id="radio3" class="css-checkbox" />

          <label for="radio3" class="css-label radGroup1" style="color:grey;font-size: x-small;    margin-top: -10px;"></label>
                     <p style="color:grey;font-size: x-small;margin-left: 8%;    line-height: initial;">An Uber  ready driver who has passed the uber screening</p>
<br>
       </div>

  </div>
<br>





<!-- <div class="squaredOne">
      <input type="checkbox" value="None" id="squaredOne" name="check" checked />
      <label for="squaredOne"></label>
    </div>

    <br>

<div class="squaredOne">
      <input type="checkbox" value="None" id="squaredOne" name="check" checked />
      <label for="squaredOne"></label>
    </div> -->
 
  </ion-content>
  



  <div class="bar bar-footer bar-assertive" style="background-color:#B20000;color:#FFFFFF;    border: red;" >
  <a id="hamza" ng-click="info()" class="button button-clear" style="text-align:center ;width:100%;font-size: inherit;">CONTINUE</a>
</div>
       

</ion-view>