<!--- Landing Page  -->

<ion-view >

<div class="mydiv">
  <ion-content  id="a">
 


 <img style="margin-left: 30%;
    margin-top: 35%;" src="img/logo.png">
    <br>
    <br>
    <br>

    <div id="b">
    <ion-slide-box  does-continue="true" auto-play="true" active-slide="myActiveSlide"  style="position: absolute; bottom: 23%; width: 100%; visibility: visible;" >
  <ion-slide>


<h1  id="fchange" style="
       color: white;
    font-size: 100%;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;"><b>EASY DRIVER RENTAL</b></h1>
  <h1 id="fchange" style="
       color: white;
    font-size: 90%;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;">Rent An Hourly Or Daily Driver In Just 4 Easy Taps!</h1>

    <br>
    <br>

  </ion-slide>
   <ion-slide>

   <h1  id="fchange" style="
       color: white;
    font-size: 15px;
    width: 55%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;"><b>CAR AND DRIVER RENTAL</b></h1>

  <h1 id="fchange" style="
       color: white;
    font-size: 15px;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;">Arrive in style. Rent a car or driver for whole day</h1>

    <br>
    <br>
    
  </ion-slide>
   <ion-slide>

   <h1  id="fchange" style="
       color: white;
    font-size: 15px;
    width: 55%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;"><b>FULL TIME DRIVER</b></h1>

  <h1  id="fchange" style="
       color: white;
    font-size: 15px;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;">Choose from wide range of options to hite a full time driver.</h1>

    <br>
    <br>
    
  </ion-slide>
   <ion-slide>

      <h1  id="fchange" style="
       color: white;
    font-size: 15px;
    width: 55%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;"><b>BACK POCKET WALLET</b></h1>

  <h1 id="fchange" style="
       color: white;
    font-size: 15px;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;">Fully integrated with Back Pocket Wallet system </h1>

    <br>
    <br>
    
  </ion-slide>


     <ion-slide>

      <h1  id="fchange" style="
       color: white;
    font-size: 15px;
    width: 55%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;"><b>SIGN UP. GET N2000</b></h1>

  <h1 id="fchange" style="
       color: white;
    font-size: 15px;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;">Sign up and get N2000 in your back pocket wallet.</h1>

    <br>
    <br>
    
  </ion-slide>



     <ion-slide>

      <h1  id="fchange" style="
       color: white;
    font-size: 15px;
    width: 55%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;"><b>N1500 FOR EVERY REFERRAL</b></h1>

  <h1 id="fchange" style="
       color: white;
    font-size: 15px;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;">Refer a friend. Get N1500 when they make their first order.</h1>

    <br>
    <br>
    
  </ion-slide>



 

</ion-slide-box>
</div>

 <br>
  <br>
  <br>
  <br>
  <br>


    <div style="position: absolute; bottom: 10px; width: 100%; " >



       <a id="hamza" ng-click="signUp1()" style="background-color:white ;color:#B30808; width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;   border: white;"class="button button-block button-assertive" >SIGN UP</a>


          <a id="hamza"style=" width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;background-color:#B20000;color:#FFFFFF;    border: red;" class="button button-block " ng-click="login1()">LOGIN</a>
        
  
    


        </div>



    </ion-content>

    <!-- align to the bottom of the page -->

 </div>
    
  
</ion-view>
