<ion-modal-view  style="background:transparent" >
  
   <ion-content  >
 

 <div style="text-align: left;width:10%; margin:10px ; font-size:150%"  ng-click="closeLogin()">
    <a style="text-align: center;width:100%;color: white;font-size:125%" class="icon ion-chevron-left " ></a>
</div>
<p style="color:white ; position: absolute;width:100%; text-align:center;    top: 3%;"><b>LOGIN</b></p>


 <div style="width:100%;margin-top:30%;text-align: center;">
  <img style="" src="img/onlyLogo.png">
</div>
    <br>

   
    <br>

    

    <br>


    <br>


        <div style="position: absolute;width:80%;left:40px; margin-top: 0%;" >

           <div class="list list-inset" style="background-color: transparent;">
  <label class="item item-input" style="margin-bottom:4%">
    <input id="e_mail2" type="text" placeholder="Email">
  </label>
 
  <label class="item item-input" style="margin-bottom:4%">
    <input id="psw2" type="password" placeholder="Password">
  </label>
  <a id="hamza" style="background-color:#B20000 ;color:white;  width: 100%;   border: white;" class="button button-block button-assertive" ng-click="login()" >LOGIN</b></a>

     <a id="hamza" ng-click="signUp1()" style="background-color:white ;color:#B30808;  width: 100%;   border: white;"class="button button-block button-assertive" >FORGOT PASSWORD</a>
</div>





<h style="color:white ; position: absolute;width:100%; text-align:center"><b>or Login with</b></h>

</div>

</div>
    
    
  </ion-content>
</ion-modal-view>
