
  <!-- Center content -->

  <!---<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content> -->



  <ion-side-menus enable-menu-with-back-views="false">

  
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable" >

      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="toggleDrawer()" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content> 


<!-- Left menu -->
  <drawer side="left" > 

   
  
    <ion-content style="background-color:white" scroll="false">

    
<div style="background-color: #F0F0E1;
    padding-bottom: 10%;">
  <br>
<h4 id="fchange"style="margin-top: 0px;color:black">&nbsp &nbsp <b>Frank Donga</b></h4>
<h5  id="fchange" style="color:grey;margin-bottom: -1px;">&nbsp &nbsp &nbspWallet Balance :   N2300</h5> 
</div>



<ul class="list" style="background-color: white;">
   

      
        <a   ng-click="login();toggleDrawer()"  style="background-color: white;    margin-left: 5%;color:black ;border-bottom:0px" class="item1" >
          <br>
          <div class="logo">
          <i style="font-size:x-large;    vertical-align: text-top;"class="icon ion-clock"></i>
          <h5 id="fchange"  style="color:black ">&nbsp PAYMENTS</h5>
          </div>
        </a>
        <a  ng-click="toggleDrawer()" href="#/app/search" style="background-color: white;     margin-left: 5%;color:black;text-decoration: none;" class="item1 " >
          <div class="logo">
            <i style="font-size:x-large;    vertical-align: text-top;"class="icon ion-compass"></i>
          <h5 id="fchange"  style="color:black;" >&nbsp NOTIFICATIONS</h5>
          </div>
        </a>
        <a  ng-click="toggleDrawer()" href="#/app/browse" style="background-color: white;     margin-left: 5%;color:black;text-decoration: none;" class="item1">
          <div class="logo">
            <i style="font-size:x-large;    vertical-align: text-top;"class="icon ion-person"></i>
          <h5 id="fchange"  style="color:black ">&nbsp HISTORY</h5>
        </div>
        </a>

        <a  ng-click="toggleDrawer()" href="#/app/browse" style="background-color: white;     margin-left: 5%;color:black;text-decoration: none;" class="item1">
          <div class="logo">
            <i style="font-size:x-large;    vertical-align: text-top;"class="icon ion-ios-information"></i>
          <h5  id="fchange" style="color:black ">&nbsp ACCOUNT</h5>
        </div>
        </a>

        <a  ng-click="toggleDrawer()" href="#/app/browse" style="background-color: white;     margin-left: 5%;color:black;text-decoration: none;" class="item1">
           <div class="logo">
            <i style="font-size:x-large;    vertical-align: text-top;"class="icon ion-help-buoy"></i>
          <h5 id="fchange" style="color:black ">&nbsp FREE CREDITS</h5>
           </div>
        </a>

        <a  ng-click="toggleDrawer()" href="#/app/browse" style="background-color: white;     margin-left: 5%;color:black;text-decoration: none;" class="item1">
           <div class="logo">
            <i style="font-size:x-large;    vertical-align: text-top;"class="icon ion-minus"></i>
          <h5 id="fchange" style="color:black ">&nbsp ABOUT</h5>
           </div>
        </a>


        <a  ng-click="toggleDrawer()" href="#/app/browse" style="background-color: white;     margin-left: 5%;color:black;text-decoration: none;" class="item1">
           <div class="logo">
            <i style="font-size:x-large;    vertical-align: text-top;"class="icon ion-toggle-filled"></i>
          <h5 id="fchange"  style="color:black ">&nbsp HELP</h5>
        </div>
        </a>


        <br>
        <br>
       
    </ul>


        
        <!--   <h5  class="icon ion-power" style=" color:grey;    margin-left: 5%;bottom: 50px;
    position: absolute;">&nbsp LOGOUT</h5> -->

      
    </ion-content>
  </drawer>
</ion-side-menus>
