<ion-view title="Pickup Address">
  <ion-content ng-controller="MapController" ng-click="closeDrawer();">





  
  <div class="item item-text-wrap" >
    <h3 style="text-align:center;color:orange;" > DRIVER RENTAL</h1>
     <h4 style="text-align:center;color:orange;"> CHOOSE DATE AND TIME</h2>
   </div>



<div class="container">
  <div id="map-canvas"></div>
 
</div>


   

<!-- align to the bottom of the page -->
   
                 </ion-content>




 
<div class="bar bar-footer bar-stable" style="height:8%;background-color:white" >
 <!-- <a  href="#/app/dropoff" class="button button-clear" style="text-align:center ;width:100%"   ><b>Continue</b></a> -->

<i style="
    margin-top: 2%;
    background-color: white;
    " class="button button-icon icon ion-ios-search-strong activated"></i>
    <div style="width: 80%;">
  <p style="
    margin-top: -5px;
    margin-bottom: 1px;
    color:orange;
    font-size: xx-small;
">Enter Pick Up Address</p>
 <input placeholder="Drag Marker ... " id="address1" style="
    width: 81%;
    font-size: large;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    margin-top: -8%;
">
  </div>

<button  ng-click="dropOff()"  style="    background-color: #B20000;
    width: 20%;
    color: white;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    margin-top: -1%;
    margin-bottom: -1.6%;
    margin-right: -1.5%;"  class="button icon ion-chevron-right"></button>
</div>


</ion-view>
