<ion-view title="Requirements" >


  <ion-content  class="has-footer"  scroll="true">





  
  <div class="item item-text-wrap" >



    <h4 id="fchange" style="text-align:center;color:orange;"> DRIVER RENTAL</h4>



   </div>





    <div  class="" style="margin-right: 0px;margin-left: 0px;">

       <div style="    background-color: #FFFFFF;
    border-bottom: black;
    border-bottom-color: rgba(0, 0, 0, 0.08);
    border-bottom-style: solid;
    border-bottom-width: 1px;" class="item ">
   


            <h3 style="text-align:center" >Age Range</h3>



              <div style="
    text-align: center;" class="">    


<div style="    color: #B22132  ;font-size:20px; display:inline-block; " class="box box1 icon ion-chevron-left"  ng-click="subDate()"></div>
    <div style="font-size:30px;color: #B20000  ;display:inline-block;"   class="box box2 content"><fade-on-change value-to-watch="today2"></fade-on-change></div>
    
    <div style="    color: #B22132  ;font-size:20px; display:inline-block;" class="box box3 icon ion-chevron-right" ng-click="addDate()" on-hold="addDate()"></div>



                
     
              </div>

         <h3 style="text-align:center;"> {{Today}} </h3>

       

  </div>

  

  <div style="    background-color: #FFFFFF;
    border-bottom: black;
    border-bottom-color: rgba(0, 0, 0, 0.08);
    border-bottom-style: solid;
    border-bottom-width: 1px;" class="item ">
   


   
     
            <h3 style="text-align:center" >Working hour per day</h3>



             <div style="
    text-align: center;" class="">    


<div style="    color: #B22132  ;font-size:20px; display:inline-block; " class="box box1 icon ion-chevron-left"  ng-click="subTime()"></div>
    <div style="font-size:30px;color: #B20000  ;display:inline-block;"   class="box box2 content"><fade-on-change-second value-to-watch="time2"></fade-on-change-second></div>
    <div style="    color: #B22132  ;font-size:20px; display:inline-block;" class="box box3 icon ion-chevron-right" ng-click="addTime()" ></div>



                
     
              </div>

         <h3 style="text-align:center;"> AM</h3>


      

  </div>

   <div style="background-color:#FFFFFF;    border-bottom: black;
    border-bottom-color: rgba(0, 0, 0, 0.08);
    border-bottom-style: solid;
    border-bottom-width: 1px;" class="item ">
   


   
     
            <h3 style="text-align:center" >Working hour per week</h3>



              <div style="
    text-align: center;" class="">    


<div style="    color: #B22132  ;font-size:20px; display:inline-block; " class="box box1 icon ion-chevron-left"  ng-click="subDur()"></div>
    <div style="font-size:26px;color: #B20000  ;display:inline-block;"   class="box box2 content"><fade-on-change-third value-to-watch="durationhr"></fade-on-change-third> </div>
    <div style="    color: #B22132  ;font-size:20px; display:inline-block;" class="box box3 icon ion-chevron-right" ng-click="addDur()" ></div>



                
     
              </div>

         <h3 style="text-align:center;"></h3>

      

  </div>

<div class="list">
 
  <label class="item item-input">
    <textarea placeholder="Preferred residential area of staff*"></textarea>
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Proposed monthly salary (N)*">
  </label>
    <li class="item item-toggle">
     Provision for overtime?
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

    <li class="item item-toggle">
     Provision for annual leave?
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

    <li class="item item-toggle">
     Provision for accommodation?
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <label class="item item-input">
    <input type="text" placeholder="Additional commments">
  </label>

</div>





</div>

<!-- align to the bottom of the page -->
   
          




 
  </ion-content>
  



  <div class="bar bar-footer bar-assertive" style="background-color:#B20000;color:#FFFFFF;    border: red;" >
  <a id="hamza" ng-click="pickup()" class="button button-clear" style="text-align:center ;width:100%"   ><b>Continue</b></a>
</div>
       

</ion-view>
