<ion-view title="REVIEW ORDER">
  <ion-content ng-click="closeDrawer();" style="background-color:#EEEEEE"  >





  
  <div class="item item-text-wrap" style="background-color:#EEEEEE">
    <h3 style="text-align:center" > DRIVER RENTAL</h1>
     <h4 style="text-align:center;color:orange;"> Review Order</h2>


   </div>





    <div  class="list card" style="margin-right: 0px;margin-left: 0px;margin-top: 0px;">

       <div style="    background-color: #FFFFFF;
    border-bottom: black;
    border-bottom-color: rgba(0, 0, 0, 0.08);
    border-bottom-style: solid;
    border-bottom-width: 1px;    border-top-color: rgba(0, 0, 0, 0.08);
    border-top-style: solid;
    border-top-width: 1px;" class="item " ng-click="openEdit()">
   


 
     
<h4>&nbsp &nbsp PICK UP DATE AND TIME</h4>
<div ng-click="questionInfo()" style="position: absolute;
         right: 2%;
    bottom: 23%;" >
     <i style="font-size:x-large"class="icon ion-ios-pulse-strong"></i>
   </div>
<h4 style="color:grey"  > &nbsp &nbsp {{today2}},{{Today}} - {{time2}}am</h4>


              


  </div>

  

  <div style="    background-color: #FFFFFF;
    border-bottom: black;
    border-bottom-color: rgba(0, 0, 0, 0.08);
    border-bottom-style: solid;
    border-bottom-width: 1px;" class="item " ng-click="openDur()">
   
<h4>&nbsp &nbsp DURATION</h4>
<div ng-click="questionInfo()" style="position: absolute;
         right: 2%;
    bottom: 23%;" >
     <i style="font-size:x-large"class="icon ion-ios-pulse-strong"></i>
   </div>
<h4 style="color:grey">&nbsp &nbsp {{duration}}</h4>


              

  </div>

   <div style="background-color:#FFFFFF;    border-bottom: black;
    border-bottom-color: rgba(0, 0, 0, 0.08);
    border-bottom-style: solid;
    border-bottom-width: 1px;" class="item ">
   

<h4>&nbsp &nbsp PICK UP ADDRESS</h4>
<div ng-click="questionInfo()" style="position: absolute;
         right: 2%;
    bottom: 23%;" >
     <i style="font-size:x-large"class="icon ion-ios-pulse-strong"></i>
   </div>
<h4 style="color:grey">&nbsp &nbsp {{pick}}</h4>


              

  </div>

    <div style="background-color:#FFFFFF;    border-bottom: black;
    border-bottom-color: rgba(0, 0, 0, 0.08);
    border-bottom-style: solid;
    border-bottom-width: 1px;" class="item ">
   

<h4>&nbsp &nbsp DROP OFF ADDRESS</h4>
<div ng-click="questionInfo()" style="position: absolute;
         right: 2%;
    bottom: 23%;" >
     <i style="font-size:x-large"class="icon ion-ios-pulse-strong"></i>
   </div>
<h4 style="color:grey">&nbsp &nbsp {{drop}}</h4>


              

  </div>



</div>

<!-- align to the bottom of the page -->
   
          




 
  </ion-content>
  



  <div class="bar bar-footer bar-assertive" style="background-color:#B20000;color:#FFFFFF; height:8%   border: red;" >
  <a id="hamza" href="#/app/complete" class="button button-clear" style="text-align:center ;width:100%"   ><b>Continue</b></a>
</div>
       

</ion-view>
