<ion-modal-view style="background:transparent">
   <!-- style="background-image:url(./img/back.png);background-repeat: round" --> 
   <ion-content scroll="false">

   <div style="text-align: left;width:10%; margin:10px ; font-size:150%"  ng-click="closeSignUp()">
    <a style="text-align: left;width:100%;color: white;font-size:125%" class="icon ion-chevron-left " ></a>

    
</div>
<p style="color:white ; position: absolute;width:100%; text-align:center;    top: 3%;"><b>Get Started</b></p>


    <br>
 
 <div style="width:100%;margin-top:30%;text-align: center;">
  <img style="" src="img/onlyLogo.png">
</div>
    <br>

   
    <br>
<!-- 
     <div style="    background-color: rgba(0, 0, 0, 0.36);
    color: black;
    height: 75%;">
 -->
    <br>






        <div style="position: absolute;width:80%;left:10%; margin-top: 0%;" >

        <div class="list list-inset" style="background-color: transparent;">
  <label class="item item-input" style="margin-bottom:4%">
    <input id="e_mail" type="text" placeholder="Email">
  </label>
  <label class="item item-input" style="margin-bottom:4%">
    <input id="mob" type="text" placeholder="Mobile Number">
  </label>

  <label class="item item-input" style="margin-bottom:4%">
    <input id="psw" type="text" placeholder="Password">
  </label>
  <a id="hamza" href="#/app/browse" style="background-color:#B20000 ;color:white;  width: 100%;   border: white;" class="item item-input button button-block button-assertive" ng-click="signUp()" ><b>SIGN UP</b></a>

</div>



<h style="color:white ; position: absolute;width:100%; text-align:center"><b>or Sign Up with</b></h>

</div>
    
    
  </ion-content>
</ion-modal-view>