/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;





// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


@font-face {
    font-family: 'montserratsemi_bold';
    src: url('../fonts/montserrat-semibold-webfont.eot');
    src: url('../fonts/montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-semibold-webfont.woff') format('woff'),
         url('../fonts/montserrat-semibold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-semibold-webfont.svg#montserratsemi_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media (max-width: 680px) {
    .active .modal-backdrop-bg {
    opacity: .5;
    transition: background 600ms ease-in-out;
    background-color: #000;
    }

   

}
    




#hamza{

 font-family: "montserratsemi_bold";
   
    color: #FFFFFF;


}


#fchange{

  font-family: 'Open Sans', sans-serif;


}

.slider-pager .slider-pager-page {
    display: inline-block;
    margin: 0px 3px;
    width: 15px;
    color: #FFFFFF;  
    text-decoration: none;
    opacity: 0.3; 
}

.slider-pager.slider-pager-page{

  display: inline-block;
    margin: 0px 3px;
    width: 15px;
    color: #000000;  
    text-decoration: none;
    opacity: 0.3; 


}




    #landing-wrapper {
  display: table;
  width: 101%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/back1.png');
  
  color: white;
  background-repeat: round;     height: 31%;   border: black;
  
}


 #landing-wrapper2 {
  display: table;
  width: 101%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/back2.png');
  
  color: white;
  background-repeat: round;      height: 31%;   border: black;
  
}

 #landing-wrapper3 {
  display: table;
  width: 101%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/back3.png');
  
  color: white;
  background-repeat: round;  height: 31%; border: black;
  
}





  .item1 {
   
    
 border-color: #FFFFFF;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    
    padding: 1px;
    border-width: 1px;
    border-style: solid;
 
   }

   .list-inset .item{

   }


#map {
    height: 90%;
    width: 100%;
}

.scroll {
    height: 100%;
}


@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

html, body {
  height: 100%;
}


.container {
  

  border-radius: 5px;
  box-shadow: 0 1px 2px 2px rgba(0,0,0,0.2);
      height: 90%;
    width: 100%;
}

#map-canvas {
  
  width: 100%;
  height: 90%;
}
#map-canvas2 {
  width: 100%;
  height: 70%;
}

.infowindowContent {
  line-height: 1.35;

  h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    font-size: 1em;
    margin-bottom: 5px;
  }
}

.input {
  margin-top: 10px;
  
  input {
    padding: 10px;
    width: 70%;
  }
  #local {
    width: 100%;
    height: 39px;
    background: #e84f4f;
    color: white;
    border: none;
    cursor: pointer;
  }
}



.slide-in-up {
  @include translate3d(100%, 0, 0);
}

.slide-in-up2 {
  @include translate3d(0, 100%, 0);
}

.slide-in-up.ng-enter,
.slide-in-up > .ng-enter {
  @include transition(all cubic-bezier(.1, .7, .1, 1) 1500ms);

}
.slide-in-up.ng-enter-active,
.slide-in-up > .ng-enter-active {
  @include translate3d(0, 0, 0);
   
}

.slide-in-up.ng-leave,
.slide-in-up > .ng-leave {
  @include transition(all cubic-bezier(.1, .7, .1, 1) 2000ms);

}

.slide-in-up.ng-leave-active,
.slide-in-up > .ng-leave-active {
  @include translate3d(2000, 2000, 2000);
}


.content {
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
   
}

.box1 {
   
    padding-right: 30%;
}
.box2 {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    
}
.box3 {
   
    padding-left: 30%;
}

.anim {
    opacity: 1;
      -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
}
 
.fade-it-out {
  opacity: 0;
}
.fade-it-out-second {
  opacity: 0;
}

* {
    box-shadow: none !important;
}


/*Popup's classes
.popup-head
.popup-title 
.popup-body
.popup-buttons 
*/

.popup-head {
    padding: 0px 0px;
    border-bottom: 1px solid #eee;
    text-align: center;
}
.popup-head{    
 background-color: white !important;
}
.popup-title {

  background-color: white !important;

}

.popup-body{

  width: 80%;
  background: white !important;
  text-align: left;
      margin-left: 5%;
    margin-bottom: 4%;
 
  
}

.popup-container .popup{

   background: white !important;
 width : 100%;
  
}

.popup-container.active .popup {
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


  .popup-container.popup-hidden .popup {
 
    -webkit-animation-name: fade-out;
    animation-name: fade-out;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


@-webkit-keyframes fade-out {
  100%   { opacity: 0; }
  0% { opacity: 1; }
}
drawer {
  display: block;
  position: fixed;
  width: 270px;
  height: 100%;
  z-index: 100;
  top:44px;
  background-color:white;
}

drawer.left .pane .content-backdrop {
  position: fixed;
  top: 44px;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: 0.1s opacity linear;
  -moz-transition: 0.1s opacity linear;
  transition: 0.1s opacity linear;
}



.mydiv {
      background:url('../img/nature.gif') no-repeat center center;  
      width:100%; 
      height:100%;
      min-height:100%; /* for mobile and tablets */
    background-size:cover;  
      position:absolute
} 


button.customIconSound:before {
    font-size: 20px !important;
}

$activeColor: #B20000; //green
$darkenColor: darken($activeColor, 20%);
/* $background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/13460/dark_wall.png'); */
$background: #3498db;



/* .squaredOne */
.squaredOne {
      margin-left: 10%;
  width: 28px;
  height: 28px;
  position: relative;

  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px #B20000, 0px 1px 3px #B20000 !important;
  label {
    
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1) !important;
    &:after {
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      top: 2px;
      left: 2px;
      background: $activeColor;
      background: linear-gradient(top, $activeColor 0%, $darkenColor 100%);
      box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5) !important;
      opacity: 0;
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }   
  } 
}
/* end .squaredOne */



input[type=radio].css-checkbox {
              position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
            }

            input[type=radio].css-checkbox + label.css-label {
              padding-left:27px;
              height:21px; 
              display:inline-block;
              line-height:21px;
              background-repeat:no-repeat;
              background-position: 0 0;
              font-size:21px;
              vertical-align:middle;
              cursor:pointer;

            }

            input[type=radio].css-checkbox:checked + label.css-label {
              background-position: 0 -21px;
            }
            label.css-label {
        background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_4e2b92073b911215cfd2e91212cd1cf3.png);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

.ion-ios-pulse-strong,
.ion-ios-pulse-strong:before {
  content: url('../img/edit.png') !important;
     height: 20px !important;
} 
.ion-compass,
.ion-compass:before {
  content: url('../img/notifications.png') !important;
     height: 18px !important;

} 

.ion-person,
.ion-person:before {
  content: url('../img/history.png') !important;
     height: 18px !important;

} 

.ion-ios-information,
.ion-ios-information:before {
  content: url('../img/account.png') !important;
     height: 18px !important;

} 

.ion-help-buoy,
.ion-help-buoy:before {
  content: url('../img/free-credits.png') !important;
     height: 18px !important;

} 

.ion-minus,
.ion-minus:before {
  content: url('../img/help.png') !important;
     height: 18px !important;

} 

.ion-toggle-filled,
.ion-toggle-filled:before {
  content: url('../img/about.png') !important;
     height: 18px !important;

} 


.ion-clock,
.ion-clock:before {
  content: url('../img/payments.png') !important;
     height: 18px !important;

} 






.toggle .handle {
    -webkit-transition: 0.3s cubic-bezier(0, 1.1, 1, 1.1);
    transition: 0.3s cubic-bezier(0, 1.1, 1, 1.1);
    -webkit-transition-property: background-color, transform;
    transition-property: background-color, transform;
    position: absolute;
    display: block;
    width: 27px;
    height: 27px;
    border-radius: 27px;
    background-color: #fff;
    top: 7px;
    left: 7px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(0, 0, 0, 0.15)!important;
}


.toggle.toggle-assertive input:checked + .track {
    border-color: #5D5453;
    background-color: #646567;
}

.logo h5  {
  
   
  
    display: inline-block;
  
}

